.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-inline: 2rem;
  .menu {
    font-size: 1rem;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    .link {
      width: 100%;
      display: flex;
      margin-inline: 2rem;
      text-decoration: none;
      color: black;
      font-weight: bold;

      &:hover {
        color: #7886f1;
        transition: 0.3s;
      }
    }
  }
}
